.chat-box {
    height: 46vw;
    border-style: solid;
    margin-right: 1vw;
}

.messages {
    height: 38vw;
    padding: 1vw;
}

.message-box {
    padding: 1vw;
}

.input-box {
    width: 85%;
    margin: 1vw;
    color: "gray";
}

.send-button {
    margin-top: 1vw;
    margin-left: 0.4vw;
    padding: 0.5vw 0.25vw 0 0.25vw;
    height: 2vw;
    width: 2vw;
    cursor: pointer;
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(104, 104, 223);
    text-align: center;
}

.own-message, .other-message {
    width: 15vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-style: solid;
    border-radius: 2%;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.own-message {
    float: right;
    background-color: rgb(146, 146, 233);
    border-color: rgb(146, 146, 233);
}

.other-message {
    background-color: lightgray;
    border-color: lightgray;
}

.name {
    margin-top: 0.3vw;
    margin-bottom: 0vw;
}

.message {
    margin-top: 0.3vw;
    margin-bottom: 0.2vw;
}