<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>

	<body>
		<div id="game"></div>
		<div id="room_code"><p></p></div>
	</body>

	<script>
		$(document).ready(function () {
			joinRoom();
		});

		var myObj = JSON.parse(sessionStorage.room);
		document.getElementById("room_code").getElementsByTagName("p")[0].innerHTML = myObj.roomName;

		const socket = io.connect('http://localhost:3000');
		
		function joinRoom() {
			if (typeof(sessionStorage) != "undefined") {
				socket.emit('join', sessionStorage.room);
			}
		}
		socket.on('joinedRoom', (message) => {
			console.log(message);
		});

	</script>
</html>